* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.js-image-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

img{
    padding: 20px;
}